.cell {
    box-sizing: border-box;
    position: relative;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.cell.day::before {
    position: absolute;
    content: "";
    width: 100%;
    max-width: 1.8rem;
    aspect-ratio: 1;
    background-color: rgb(236, 244, 250);
    border-radius: 4px;
    z-index: -1;
}

.cell.day.disabled {
    color: rgb(147, 147, 147);
    /* background-color: transparent; */
}

.cell.day.disabled::before {
    filter: grayscale(0.8);
    background-color: transparent;
    /* background-color: transparent; */
}