.cell {
    position: relative;
    box-sizing: border-box;
    position: relative;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.cell-background {
    position: absolute;
    background-color: hsl(202, 57%, 90%);
    width: 100%;
    max-width: 1.8rem;
    aspect-ratio: 1;
    border-radius: 3px;
    z-index: -1;
}

.cell.day.disabled {
    color: rgb(89, 89, 89);
}

.disabled .cell-background{
    filter: grayscale(0.9);
    background-color: hsl(0, 0%, 100%);
}